.score-div{
    height: 300px;
    border:1px solid rgb(156, 155, 155)
}
.score-input{
    margin: 10px auto;
    margin-top: 0px;
    width:50% !important;
    text-align: center;
}
.image{
    margin-bottom: 5px;
    width:100%;
    height:70%
}
.score-text{
    text-align: center;
    margin-bottom: 0px;
}
.task-info{
    font-weight: bold;
}
.not-found{
    font-size: 30px;
    font-weight: bold;
}
.save-button{
    /* width:100px !important */
}
#createcont{
    min-height: 700px;
}
#back{
    color:white;
}